<h1> Activity details </h1>
<table class="table table-bordered">
<tr><td>Entry Date</td><td><%= @ractivity.entry_date  %></td></tr>
<tr><td>Meditation</td><td><%= @ractivity.meditation  %></td></tr>
<tr><td>Exercise</td><td><%= @ractivity.exercise  %></td></tr>
<tr><td>Reading</td><td><%= @ractivity.reading %></td></tr>
<tr><td>Concentration</td><td><%= @ractivity.concentration %></td></tr>
<tr><td>Hard Working</td><td><%= @ractivity.hard_working  %></td></tr>
<tr><td>Mental Stability</td><td><%= @ractivity.metal_stability  %></td></tr>
<tr><td>Self Confidence</td><td><%= @ractivity.self_confidene  %></td></tr>
<tr><td>Time Management</td><td><%= @ractivity.time_management  %></td></tr>
<tr><td>Universal Power</td><td><%= @ractivity.universal_power  %></td></tr>
<tr><td>Total Score</td><td><%= @ractivity.totalScore  %></td></tr>
</table>
<%= link_to("Main page",relative_activities_path, class:'btn btn-primary') %>