<h1> Transaction details </h1>
<table class="table">
<tr><td>Transaction Type</td><td><%= @transaction.transaction_type  %></td></tr>
<tr><td>Amount</td><td><%= @transaction.amount  %></td></tr>
<tr><td>Date</td><td><%= @transaction.date_of_transaction  %></td></tr>
<tr><td>Total balance</td><td><%= @transaction.total_balance %></td></tr>
<tr><td>transaction_account</td><td><%= @transaction.transaction_account %></td></tr>
<tr><td>comments</td><td><%= @transaction.comments  %></td></tr>
</table>
<%= link_to("Main page",transactions_path, class:'btn btn-primary') %>